.form-control {
  border-radius: 0;
}
#container_for_feedback {
  background-color: rgb(233, 232, 232);
}
#container_for_the_form {
  background-color: white;
  max-height: 400px; /* or any other value you prefer */
  overflow-y: auto;
}

#sent_feedback_button {
  font-size: 20px;
  padding: 9px 70px;
}
#download_list {
  background-color: rgb(233, 232, 232);
}
