.nav-link:hover {
  background-color: rgb(252, 195, 142);
}
a {
  color: white;
  border-radius: 25px;
}

#navbar {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 60px;
  background-color: #f8f8f7;
}

#logo_image {
  width: 100px;
  height: auto;
  max-height: 120px;
  background-color: rgb(233, 232, 232);
}
