.nav-link:hover {
  background-color: rgb(252, 195, 142);
}
a {
  color: white;
  border-radius: 25px;
}
#navbar {
  background-color: #f8f8f7;
}

#logo_image {
  right: 0px;
  background-color: white;
}
.nav-link {
  font-weight: bold;
}
